.custom {
  padding: 12px 23px;
  font-size: 1rem;
  border-radius: 25px;
  background: hsl(136, 65%, 51%);
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  color: white;
  cursor: pointer;
}
.custom:hover {
  opacity: 0.7;
}

@media (max-width: 880px) {
  .hide {
    display: none;
  }
}
