.intro {
  background-image: url("../../assets/imgs/bg-intro-desktop.svg");
  height: 90vh;
  position: relative;
  background-position: right top;
  /* z-index: -1; */
  background-color: hsl(0, 0%, 98%);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-x: 600px;
  background-position-y: -250px;
}
.intro-container {
  display: flex;
}

.phones {
  width: 127%;
  transform: translateX(118px) translateY(-109px);
}
.left,
.right {
  width: 50%;
}
.left {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left h1 {
  font-size: 2.8rem;
  padding-bottom: 20px;
  font-weight: 500;
  width: 87%;
  color: hsl(233, 26%, 24%);
}
.left p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: hsl(233, 8%, 62%);
  line-height: 23px;
  width: 83%;
}

@media (max-width: 1200px) {
  .intro {
    background-position-x: 500px;
    background-position-y: -169px;
  }
  .phones {
    width: 137%;
    transform: translateX(18px) translateY(-100px);
  }
}

@media (max-width: 1000px) {
  .intro {
    background-position-x: 350px;
    background-position-y: -139px;
    background-size: cover;
  }
  .phones {
    width: 147%;
    transform: translateX(-5px) translateY(-100px);
  }
}

@media (max-width: 900px) {
  .intro {
    height: auto;
    background-position-x: -200px;
    background-position-y: -450px;
    background-size: 180%;
  }
  .intro-container {
    flex-direction: column-reverse;
    position: relative;
    top: -235px;
  }
  .left,
  .right {
    width: 100%;
    height: unset;
  }
  .phones {
    width: 100%;
    position: relative;
    transform: translateX(0px) translateY(0px);
  }
  .left {
    text-align: center;
  }
  .left h1 {
    padding-bottom: 15px;
    width: 100%;
  }
  .left p {
    margin-bottom: 25px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .intro-container {
    top: -105px;
  }
  .intro {
    height: auto;
    background-position-x: -68px;
    background-position-y: -170px;
    background-size: 149%;
  }
  .left h1 {
    font-size: 2.1rem;
  }
}
