.footer {
  background: hsl(233, 26%, 24%);
  color: #fff;
  padding: 30px 0 20px 0;
}
.icon i {
  padding-right: 14px;
  font-size: 1.2rem;
}
.icon i:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.first-foot {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.foot1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}
.foot2 li {
  margin-bottom: 15px;
}
.foot3 li {
  margin-bottom: 15px;
}
.foot2 li:hover,
.foot3 li:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
.second-foot {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.easy {
  color: hsl(233, 8%, 62%);
}

@media (max-width: 800px) {
  .first-foot {
    width: 58%;
  }
}

@media (max-width: 730px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .first-foot {
    flex-direction: column;
    width: unset;
    margin-bottom: 5px;
  }
  .second-foot {
    text-align: unset;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .easy {
    padding-top: 15px;
  }
  .icon {
    margin-top: 20px;
  }
}
